

<div ng-controller="CategoryThreeCtrl">
    <div class="col-md-12">
        <div class="panel panel-info" ng-hide="isReady">
            <div class="panel-heading">
                <h3 class="text-center">Loading...</h3>
            </div>
            <div class="panel-body">
                <div class="loading-box text-center">
                    <img src="~/Content/Images/loading.gif" alt="loading animation" />

                </div>
            </div>
        </div>
        <div class="panel panel-warning" ng-hide="gameEnded || !isReady">
            <div class="panel-heading fixed-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="text-center">{{ score }} points</h3>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="text-center">Pick The Color</h3>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="text-center">Countdown</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="jumbotron">
                    <h3>Click on the box matching the color. <br />Good luck!</h3>
                </div>
                <hr />
                <div class="well well-sm very-large-input text-center">
                    <span ng-bind="question.ColorName">Here will be the color text...</span>
                </div>
                <hr />
                <div class="row color-box-container">
                    <div class="col-sm-3">
                        <div ng-click="checkAnswer(1)" ng-class="boxes.firstColor" ng-show="boxes.firstColor"></div>
                    </div>
                    <div class="col-sm-3">
                        <div ng-click="checkAnswer(2)" ng-class="boxes.secondColor" ng-show="boxes.secondColor"></div>
                    </div>
                    <div class="col-sm-3">
                        <div ng-click="checkAnswer(3)" ng-class="boxes.thirdColor" ng-show="boxes.thirdColor"></div>
                    </div>
                    <div class="col-sm-3">
                        <div ng-click="checkAnswer(4)" ng-class="boxes.fourthColor" ng-show="boxes.fourthColor"></div>
                    </div>
                </div>
            </div>
            <hr ng-show="success" />
            <div class="alert alert-success" ng-show="success">
                <h1 class="text-center">Correct!</h1>
                <hr />
                <p class="text-center">
                    The color corresponds! Well Done!
                </p>
            </div>
            <div class="alert alert-danger" ng-show="failure">
                <h1 class="text-center">Failed!</h1>
                <hr />
                <p> Color chosen is incorrect</p>
                <div class="row">
                    <div class="col-sm-3">
                        <p>The correct answer is:</p>
                    </div>
                    <div class="col-sm-1">
                        <div ng-class='question.ColorName + " small-color-box"'></div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="panel-footer fixed-footer">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <h3>
                            <button ng-click="quit()" class="btn btn-lg btn-danger">
                                Quit
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>
                        </h3>
                    </div>
                    <div class="col-lg-6 text-center">
                        <h3>Question {{ counter }} of {{ totalQuestions }}</h3>
                    </div>
                    <div class="col-lg-3 text-center">
                        <h3>
                            <button ng-click="nextQuestion(true)" class="btn btn-lg btn-warning">
                                Skip
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="gameEnded">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="text-center">Your Results</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Question Number</td>
                                    <td>Your Answers</td>
                                    <td>Correct Answers</td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="element in results">
                                    <td class="text-center">{{ element.questionNumber }}</td>
                                    <td class="text-center"><div ng-class='element.givenAnswer + " small-color-box"'><span></span></div></td>
                                    <td class="text-center"><div ng-class='element.correctAnswer + " small-color-box"'><span></span></div></td>
                                    <td ng-class="element.color" class="text-center">{{ element.mark }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Your Score: {{ score }} / {{ maxScore }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="text-center">Leader-board</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>Score</td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="btn-group">
            <button class="btn btn-default btn-lg" ng-click="reload()">Try Again!</button>
            <button class="btn btn-danger btn-lg" ng-click="quit()">Quit!</button>
        </div>
    </div>
</div>
