
<div ng-controller="CategoryTwoCtrl">
    <div class="col-md-12">
        <div class="panel panel-info" ng-hide="isReady">
            <div class="panel-heading">
                <h3 class="text-center">Loading...</h3>
            </div>
            <div class="panel-body">
                <div class="loading-box text-center">
                    <img src="~/Content/Images/loading.gif" alt="loading animation" />

                </div>
            </div>
        </div>
        <div class="panel panel-success" ng-hide="gameEnded || !isReady">
            <div class="panel-heading fixed-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="text-center">{{ score }} points</h3>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="text-center">Punctuate The Sentence</h3>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="text-center">Countdown</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    Replace the stars (*) with the correct punctuation sign.
                </p>
                <hr />
                <div class="well well-sm very-large-input">
                    <span ng-bind-html="deliberatelyTrustDangerousSnippet()"></span>
                    <hr />
                </div>
                <hr />
                <div class="col-md-2">
                    <button ng-click="checkAnswer()" class="btn btn-success btn-sm big-btn">OK</button>
                </div>
            </div>
            <div class="alert alert-success" ng-show="success">
                <h1 class="text-center">Correct!</h1>
                <hr />
                <p class="text-center">
                    <b class="correct">{{ answer }}</b> the punctuation is perfect! Well Done!
                </p>
            </div>
            <div class="alert alert-danger" ng-show="failure">
                <h1 class="text-center">Failed!</h1>
                <hr />
                <p class="text-center">
                    Punctuation is incorrect<br />
                    The correct answer is <b class="correct">{{ question.Sequence }}</b>
                </p>
            </div>
            <hr />
            <div class="panel-footer fixed-footer">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <h3>
                            <button ng-click="quit()" class="btn btn-lg btn-danger">
                                Quit
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>
                        </h3>
                    </div>
                    <div class="col-lg-6 text-center">
                        <h3>Question {{ counter }} of {{ totalQuestions }}</h3>
                    </div>
                    <div class="col-lg-3 text-center">
                        <h3>
                            <button ng-click="nextQuestion(true)" class="btn btn-lg btn-warning">
                                Skip
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="gameEnded">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="text-center">Your Results</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Question Number</td>
                                        <td>Your Answers</td>
                                        <td>Correct Answers</td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="element in results">
                                        <td class="text-center">{{ element.questionNumber }}</td>
                                        <td class="text-center">{{ element.givenAnswer }}</td>
                                        <td class="text-center">{{ element.correctAnswer }}</td>
                                        <td ng-class="element.color" class="text-center">{{ element.mark }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Your Score: {{ score }} / {{ maxScore }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="text-center">Leader-board</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>Score</td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="btn-group">
                <button class="btn btn-default btn-lg" ng-click="reload()">Try Again!</button>
                <button class="btn btn-danger btn-lg" ng-click="quit()">Quit!</button>
            </div>
        </div>
    </div>
</div>
