@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MiniProject  <small>Learning is fun.</small></h1>
    <p>Learn reading and writing the easy way.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Easy Learning</h2>
        <hr />
        <p>
            Let's you select a category and start.<br />
            For learning the easy way at your own pace.
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Challenges</h2>
        <hr />
        <p>
            Already comfortable with the game?<br />
            Try one of our challenges to further sharpen your skills
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Leader-board</h2>
        <hr />
        <p>
            Make your way to the top.<br />
            See who did the best and try to beat them.
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 text-center">
        <a href="@Url.Action("EasyLearning")" class="btn btn-primary btn-lg" title="Easy learning">Easy Learning</a>
    </div>
    <div class="col-md-4 text-center">
        <a href="@Url.Action("Challenges")" class="btn btn-warning btn-lg" title="Challenges">Challenges</a>
    </div>
    <div class="col-md-4 text-center">
        <a href="@Url.Action("LeaderBoard")" class="btn btn-success btn-lg" title="Leader-Board">Leader-board</a>
    </div>
</div>