@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MiniProject  <small>Learning is fun.</small></h1>
    <p>Learn reading and writing the easy way.</p>
</div>
<div ng-controller="IndexCtrl">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Easy Learning</h2>
            <hr />
            <p>
                Let's you select a category and start.<br />
                For learning the easy way at your own pace.
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Challenges</h2>
            <hr />
            <p>
                Already comfortable with the game?<br />
                Try one of our challenges to further sharpen your skills
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Leader-board</h2>
            <hr />
            <p>
                Make your way to the top.<br />
                See who did the best and try to beat them.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4 text-center" name="btns">
            <a href="#categoriesButtons" ng-click="choice = 1" class="btn btn-primary btn-lg" title="Easy learning">Easy Learning</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="#btns" ng-click="choice = 2" class="btn btn-warning btn-lg" title="Challenges">Challenges</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="#btns" ng-click="choice = 3" class="btn btn-success btn-lg" title="Leader-Board">Leader-board</a>
        </div>
    </div>
    <hr ng-show="choice"/>
    <div class="row" ng-show="choice==1" name="categoriesButtons">
        <div class="col-md-3">
            <div class="panel panel-info" ng-click="categoryNumber = 1;loadCategory()">
                <div class="panel-heading clickable">
                    <h3 class="text-center">Name The Picture</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success" ng-click="categoryNumber = 2;loadCategory()" >
                <div class="panel-heading  clickable">
                    <h3 class="text-center">Punctuate</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-warning" ng-click="categoryNumber = 3;loadCategory()">
                <div class="panel-heading  clickable">
                    <h3 class="text-center">Pick The Color</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-danger" ng-click="categoryNumber = 4;loadCategory()">
                <div class="panel-heading clickable">
                    <h3 class="text-center " >Word Puzzle</h3>
                </div>
            </div>
        </div>
    </div>
</div>