body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p {
    font-size: 1.2em;
}

.container {
    background-color: #FCFCFC;
    border: 1px solid #DDD;
}

body > .container {
    padding-top: 20px;
    box-shadow: 0px 5px 10px #888888;
}

.panel {
    box-shadow: 0px 5px 10px #CCC;
}

img {
    width: 250px;
    height: auto;
}

.clickable {
    cursor: pointer;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .img-box > img {
        flex-shrink: 0;
        min-width: 30%;
    }

.color-box-centered {
    flex-shrink: 0;
    min-width: 400px;
    min-height:400px;
    border: 2px dashed black;
}

.very-large-input {
    font-size: 3em;
    min-width: 100%;
    padding-left: 20px;
}

.big-btn {
    font-size: 2.7em;
    min-width: 100%;
    min-height: 100%;
}

h3 > button {
    min-width: 100%;
}

.fixed-heading {
    position: fixed;
    min-width: 100%;
    left: 0px;
    top: 50px;
    box-shadow: 0px 5px 10px #CCC;
}

.fixed-heading + div {
    margin-top: 60px;
}

.correct{
    color: green;
    font-size: 2em;
}

.incorrect{
    color: red;
    font-size: 2em;
}

td{
    font-size: 2.5em;
}

tr:first-child{
    font-weight: bolder;
}

.loading-box{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loading-box > img{
    flex-shrink: 0;
    min-width: 30%;
}